.articleEditor {
    display: block;
    max-width: 900px;
    margin-top: 2rem;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    outline: none;
}

.articleHeaderTextarea {
    font-family: 'Girassol', cursive;
    border: none;
    font-size: 2rem;
    overflow:hidden;
    display: block;
    width: 100%;
    resize: none;
}

.articleContentTextarea {
    font-family: 'Merriweather', serif;
    border: none;
    font-size: 1.2em;
    display: block;
    width: 100%;
    overflow:hidden;
    resize: none;
}