@font-face {
  font-family: BullpenItalic;
  src: url(fonts/BullpenItalic.ttf)
}

@font-face {
  font-family: Bullet3D;
  src: url(fonts/Bullpen3D.ttf)
}

@font-face {
  font-family: Girassol;
  src: url(fonts/Girassol-Regular.ttf)
}

@font-face {
  font-family: Merriweather;
  src: url(fonts/merriweather/Merriweather-Regular.ttf)
}

@font-face {
  font-family: LibreBarcode;
  src: url(fonts/LibreBarcode39Extended-Regular.ttf)
}

body {
  margin: 0px;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3, h4, h5 {
  font-family: 'Girassol', cursive;
}
p {
  font-size: 1em;
}

h1 {
  font-family: 'Bullet3D', serif;
  font-size: 1.6rem;
  margin: 0px;
}

h2 {
  font-size: 1.5rem;
  display: block;
}

@media (min-width:400px) {
  p {
    font-size: 1.1em;
  }
  h1  {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.7rem;
  }
}

@media (min-width:600px) {
  p {
    font-size: 1.2em;
  }
  h1  {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
}

img {
  display: inline-block;
  z-index: -1;
  width: 100%;
  float: none;
  max-width: fit-content;
  opacity: 90%;
}

button {
  border: 0px;
  font-size: 1.2rem;
  font-family: 'BullpenItalic', serif;
  display: block;
  border-radius: 10px;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

button:hover {
  color:white;
  background: linear-gradient(141deg, #585858, #848484);
}

button:active {
  color:white;
  background: linear-gradient(141deg, #848484, #585858);
}

textarea {
  outline: none;
}